<!--Mobile Sidebar-->
<div id="mobile-sidebar" class="mobile-sidebar" style="display: none;">
    <a href="/dashboard" class="first"><i class="icmn-equalizer"></i></a>
    <a href="/dashboard/devices"><i class="icmn-phone"></i></a>
    <!--<a><i class="icmn-lan"></i></a>
    <a><i class="icmn-insert-template"></i></a>-->
    <a href="/dashboard/resources"><i class="icmn-stack-empty"></i></a>
    <a><i class="icmn-file-xml"></i></a>
    <a><i class="icmn-connection"></i></a>
    <a><i class="icmn-embed2"></i></a>
    <a><i class="icmn-cogs"></i></a>
</div>