<div id="sidebar" class="sidebar">
    <h2 id="clock" class="clock">Loading...</h2>

    <a href="/dashboard" class="first"><i class="icmn-equalizer"></i>&ensp;Dashboard</a>
    <a href="/dashboard/devices"><i class="icmn-phone"></i>&ensp;Devices</a>
    <!--<a><i class="icmn-lan"></i>&ensp;Sources</a>-->
    <!--<a><i class="icmn-insert-template"></i>&ensp;Templates</a>-->
    <a href="/dashboard/resources"><i class="icmn-stack-empty"></i>&ensp;Resources</a>
    <a><i class="icmn-file-xml"></i>&ensp;Services</a>
    <a><i class="icmn-connection"></i>&ensp;Controller</a>
    <a><i class="icmn-embed2"></i>&ensp;API</a>
    <a><i class="icmn-cogs"></i>&ensp;Global Settings</a>
</div>