$gray-50: #f9fafb;
$gray-100: #f4f5f7;
$gray-200: #e5e7eb;
$gray-300: #d2d6dc;
$gray-400: #9fa6b2;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #252f3f;
$gray-900: #161e2e;

$coral-50: #fdf2f2;
$coral-100: #fde8e8;
$coral-200: #fbd5d5;
$coral-300: #f8b4b4;
$coral-400: #f98080;
$coral-500: #f05252;
$coral-600: #e02424;
$coral-700: #c81e1e;
$coral-800: #9b1c1c;
$coral-900: #771d1d;

$pumpkin-50: #fff8f1;
$pumpkin-100: #feecdc;
$pumpkin-200: #fcd9bd;
$pumpkin-300: #fdba8c;
$pumpkin-400: #ff8a4c;
$pumpkin-500: #ff5a1f;
$pumpkin-600: #d03801;
$pumpkin-700: #b43403;
$pumpkin-800: #8a2c0d;
$pumpkin-900: #73230d;

$orange-50: #fdfdea;
$orange-100: #fdf6b2;
$orange-200: #fce96a;
$orange-300: #faca15;
$orange-400: #e3a008;
$orange-500: #c27803;
$orange-600: #9f580a;
$orange-700: #8e4b10;
$orange-800: #723b13;
$orange-900: #633112;

$turquoise-50: #f3faf7;
$turquoise-100: #def7ec;
$turquoise-200: #bcf0da;
$turquoise-300: #84e1bc;
$turquoise-400: #31c48d;
$turquoise-500: #0e9f6e;
$turquoise-600: #057a55;
$turquoise-700: #046c4e;
$turquoise-800: #03543f;
$turquoise-900: #014737;

$beach-50: #edfafa;
$beach-100: #d5f5f6;
$beach-200: #afecef;
$beach-300: #7edce2;
$beach-400: #16bdca;
$beach-500: #0694a2;
$beach-600: #047481;
$beach-700: #036672;
$beach-800: #05505c;
$beach-900: #014451;

$azure-50: #ebf5ff;
$azure-100: #e1effe;
$azure-200: #c3ddfd;
$azure-300: #a4cafe;
$azure-400: #76a9fa;
$azure-500: #3f83f8;
$azure-600: #1c64f2;
$azure-700: #1a56db;
$azure-800: #1e429f;
$azure-900: #233876;

$blue-50: #f0f5ff;
$blue-100: #e5edff;
$blue-200: #cddbfe;
$blue-300: #b4c6fc;
$blue-400: #8da2fb;
$blue-500: #6875f5;
$blue-600: #5850ec;
$blue-700: #5145cd;
$blue-800: #42389d;
$blue-900: #362f78;

$indigo-50: #f6f5ff;
$indigo-100: #edebfe;
$indigo-200: #dcd7fe;
$indigo-300: #cabffd;
$indigo-400: #ac94fa;
$indigo-500: #9061f9;
$indigo-600: #7e3af2;
$indigo-700: #6c2bd9;
$indigo-800: #5521b5;
$indigo-900: #4a1d96;

$cerise-50: #fdf2f8;
$cerise-100: #fce8f3;
$cerise-200: #fad1e8;
$cerise-300: #f8b4d9;
$cerise-400: #f17eb8;
$cerise-500: #e74694;
$cerise-600: #d61f69;
$cerise-700: #bf125d;
$cerise-800: #99154b;
$cerise-900: #751a3d;