$DARKGRAY: rgb(41, 40, 40);

$LIGHT_TEXT: gainsboro;

$BACKGROUND: #2C3F4A;

$PRIMARY: rgb(0, 78, 146); //Logo Primary Color

//Warning Color (Yellowish)
$WARNING: rgb(255, 255, 0);

$PG_LINE_HEIGHT_MULTIPLIER: 1.15; //Inherit from normalize.css
$SIDEBAR_WIDTH: 180px;

//Account Bar/Nav Options
$NAV_TOP_PADDING: 3px;
$NAV_FONT_SIZE: 14px;